.services-info{
    background-color: white;
    text-align: center;
    position: relative;
    height: 600px;
}
.services-info h5{
    color:#444444;
   font-size: 22px;
}
.services-info p{
    color:#888888;
   font-size: 14px;
   padding: 0 15px;
}
.services-btn button{
    position: absolute;
    left:30%;
   bottom: 15px;
   border: 0;
   background-color: #2acd35;
   padding: 5px 25px;
   padding-top: 3px;
   border-radius: 10px;
   color:white;
   font-size: 20px;
   border:2px solid transparent;
   transition: all 0.8s ease;
}
.services-btn button:hover{
    border:2px solid #2acd35;
    background-color: transparent;
    color:#2acd35;
}
  .price{
    position: absolute;
    left:35%;
     bottom: 70px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      font-weight:500;
  }
