.AboutService-section{
    text-align: center;
    padding-top: 70px;
}
.AboutService-section img{
    width: 5%;
    margin-top:-50px;
    margin-bottom: 5%;
}
.divider2{
    width: 90px;
    height: 90px;
    background-color: #f5f4f3;
    margin: 0 auto;
    margin-top: -20px;
    z-index: 1;
    border-radius:50%;
    background-color: #f5f4f3;
    margin-bottom: -62px;
    padding-top: 20px;
}
.info-box{
    font-family: "Open Sans";
    padding: 50px 40px 30px 40px;
    border: 1px solid #e1e2e4;
    border-radius: 3px;
    text-align: center;
    transition: all .6s ease;
    height: 200px;
    position: relative;
}
.info-box:hover{
    box-shadow: 2px 1px 5px 0px black;
    position: relative;
}


.info-box h3{
    color: #444444;
    font-size: 20px;
  
}
.info-box p{
  
    transition: all 0.10s ease;
    font-size: 15px;
    line-height: 18px;
    color: #888888;
}
.icon{
    color: #2acd35;
    font-size: 42px;
    margin-bottom: 10px;
}
.icon2{
    
    font-size: 42px;
    
}


.overlay {
    position: absolute;
    bottom: 53.5%;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: all 0.6s ease;
  }
  
  .info-box:hover .overlay {
    bottom: 0;
    height: 30%;
  }